/* NAV BAR starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform:none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #cee9e8;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}


/* NAVBAR STARTS */
.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #d3e3e2;
  border: 0.2rem solid #bfd0d0;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #29d9d5;
  color: #111;
  /* transform: scale(1.5); */
  transform: scale(1.25);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: rgb(170, 170, 170);
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
  transform : scale(1.2);
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #299bd9;
  padding-right: .5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
}

/* NAVBAR ENDS */

/* VDO SLIDER starts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-transform: none;
}

header{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand{
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2696E9;
}

.home:before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 2px;
  display: none;

}

.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 5.5em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 52px;
  margin-bottom: 30px;
  -webkit-text-fill-color:  #0d0e0c;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.home .content h1 span{
  font-size: 1em;
  font-weight: 600;

}

.home .content p{
  margin-bottom: 65px;
 font-size: 20px;
  -webkit-text-fill-color: #0d0e0c;
  -webkit-text-stroke-width: 0.3px;
}

.home .content a{
  background: #fff;
  padding: 15px 35px;
  color: #1680AC;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .content a:hover{
  color: #fff;
  background-color: rgb(59, 103, 190);
  border-color: #2696E9;
  border-width: 3px;
}
/* Media icons start */
.home .media-icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

.home .media-icons a:hover{
  transform: scale(1.5);

}

/* Media icons end */

.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 16px;
}

.slider-navigation .nav-btn{
  width: 29px;
  height: 29px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active{
  background: hsl(180, 55%, 49%);
  size: 200%;
}

.slider-navigation .nav-btn:not(:last-child){
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover{
  transform: scale(1.4);
}

.video-slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}

.video-slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 10px 30px;
  }

  .home .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .menu-btn.active{
    z-index: 999;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }

.video-slide{
  position: center;
}

}

@media (max-width: 560px){
  .home .content h1{
    font-size: 5em;
    line-height: 48px;
    -webkit-text-fill-color: white;
  -webkit-text-stroke-color: #171714;
  -webkit-text-stroke-width: 2px;
  padding: -324px;
  }

  .home{
    padding-top: unset;
  }
  .video-slide{
   position: center;
  }
}

/* VDO SLIDER ENDS */
/* FACTS START */
      
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .video-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .video-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: .7rem;
}

.about .video-container .controls span:hover {
  background: #29d9d5;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content span {
  color: #29d9d5;
  font-size: 2rem;
}

.about .content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: .5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}



/* FACTS END */

/* CONTRIBUTE STARTS */

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .box .content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.destination .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .box .content a i {
  padding-right: .5rem;
}

/* CONTRIBUTE ENDS */
/* BLOGS CSS STARTS */
#blogs .heading span , h1{
  color: rgb(255, 255, 255);
  font-size: 25px;
}

.blogs .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    gap: 1.5rem;
  }
  
  .blogs .box-container .box {
    border-radius: 1rem;
    background: #222;
    overflow: hidden;
  }
  
  .blogs .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .blogs .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    width: 100%;
  }
  
  .blogs .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .blogs .box-container .box .content {
    padding: 2rem;
  }
  
  .blogs .box-container .box .content .link {
    font-size: 2rem;
    color: #fff;
  }
  
  .blogs .box-container .box .content .link:hover {
    color: #29d9d5;
  }
  
  .blogs .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.4rem;
    color: #aaa;
    line-height: 2;
  }
  
  .blogs .box-container .box .content .icon {
    padding-top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .blogs .box-container .box .content .icon a {
    font-size: 1.4rem;
    color: #aaa;
  }
  
  .blogs .box-container .box .content .icon a:hover {
    color: #29d9d5;
  }
  
  .blogs .box-container .box .content .icon a i {
    padding-right: .5rem;
    color: #29d9d5;
  }

  /* BLOGS CSS ENDS */
  /* FOOTER STARTS */
.container{
	max-width: 1270px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col .mainsdg
{
	max-width: 195px;
}
.footer-col .sdg-pic .sdg
{
	justify-content: column;
	max-width: 75px;
}
.footer-col
{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4 , p{
	font-size: 18px;
	color: #ffffff;
	/*text-transform: capitalize;*/
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li .icon
{
    min-width: 35px;
    height: 35px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li,ul li a,p {
	font-size: 16px;
	/*text-transform: capitalize;*/
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.luthu_img
{
  width:190px;
  height:240px;
  border-radius: 20%;
  
}
.font_icons 
{
  font-size: 250%;
  margin-left: 12px;
  margin-right: 12px;
  color:white;

}
.font_icons  i
{
  margin-top: 15px;
  margin-bottom: 20px;
}

.font_icons:hover i
{
  color:#4E4FEB;
  font-size: 140%;
}

.swiper {
 
  width: 630px;
  height: 300px;
}


.swiper-slide
{
  padding-left: 8%;
 
  padding-top: 1%;
}

.ab
{
  color: black;
}
